* {
    overflow-x: hidden;
}

h1 {
    font-size: 67px;
    font-family: 'Press Start 2P';
    text-align: center;
}

#building {
    height: 67px; 
    position: relative;
    bottom: 12px;
}

#r1 {
    color: #c1bde1
}

#e {
    color: #069330;
}

#t {
    color: #ffc001;
}

#r2 {
    color: #011da9;
}

#o {
    color: #c20d02;
}

h2, h3, h4 {
    font-family: 'VT323';
    text-align: center;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 42px;
}

#ainfobut {
    margin-inline-start: 45%;
    margin-inline-end: 45%;
}

#consoleButtons {
    width: 70%;
    margin: auto;
}

.button {
    font-family: 'Oxanium' ;
    font-weight: bold;
} 

#inputField {
    font-family: 'Oxanium' ;
}



img {
    height: 200px;
    width: 200px;
}

.screenshots { 
    margin: 15px;
    border: 5px solid black;
    
}

p {
    font-family: 'VT323';
    font-size: 20px;
}

th {
    font-family: 'Press Start 2P';
    
}

#splash {
    height: 777px;
    width: 777px;
    
}

@media only screen and (max-width: 1024px) {

* {
    text-align: center;
}

#consoleButtons {
    width: fit-content;
}
    
#bottomBox {
    align-content: center;
        }

#splash {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
    position: relative;
    bottom: 100px
}

#divsplash {
    background-image: url(splashBG.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    width: fit-content;
    height: 100%;
    padding-bottom: 120px;
    margin-bottom: 0px;
}

#clickme {
    text-align: center;
    position: relative;
    top: 64px;
    left: 3px;
    z-index: 1;
}

img, button, .screenshots {
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: block;
}

}